[submodule "packages/high_level_control/hector_gazebo"]
	path = packages/high_level_control/hector_gazebo
	url = https://github.com/tu-darmstadt-ros-pkg/hector_gazebo.git
[submodule "packages/high_level_control/hector_tracked_vehicles_common"]
	path = packages/high_level_control/hector_tracked_vehicles_common
	url = https://github.com/tu-darmstadt-ros-pkg/hector_tracked_vehicles_common.git
[submodule "packages/high_level_control/openslam_gmapping"]
	path = packages/high_level_control/openslam_gmapping
	url = https://github.com/ros-perception/openslam_gmapping
[submodule "packages/high_level_control/slam_gmapping"]
	path = packages/high_level_control/slam_gmapping
	url = https://github.com/ros-perception/slam_gmapping
[submodule "packages/high_level_control/hector_slam"]
	path = packages/high_level_control/hector_slam
	url = https://github.com/tu-darmstadt-ros-pkg/hector_slam
[submodule "packages/high_level_control/robot_localization"]
	path = packages/high_level_control/robot_localization
	url = https://github.com/cra-ros-pkg/robot_localization
